body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  margin-top: 200vh;
  margin-bottom: 200vh;
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.content__wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1440px;
}

@media only screen and (max-width: 768px) {
  .content__wrapper {
    align-items: center;
    flex-direction: column;
  }
}

.content--visible {
  opacity: 1;
  transform: translateY(0);
}

.content__image {
  width: 720px;
  height: auto;
  object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .content__image {
    max-width: 375px;
  }
}

.content__text-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 720px;
  min-width: 320px;
  background-color: #e3cfcf;
  padding: 119.5px 104px;
}

@media only screen and (max-width: 768px) {
  .content__text-wrapper {
    width: 375px;
    padding: 62.5px 0px;
  }
}

.content__title {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 15px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .content__title {
    font-size: 24px;
    padding: 0 16px;
  }
}

.content__description {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 300;
  color: #444;
}

@media only screen and (max-width: 768px) {
  .content__description {
    font-size: 16px;
    padding: 0 16px;
  }
}

.content__button {
  margin-top: 24px;
  max-width: 170px;
  align-self: center;
  border: 1px solid;
  padding: 12px 24px;
  gap: 2px;
  cursor: pointer;
  background-color: transparent;
}

.content__extra-text {
  position: absolute;
  bottom: 30px;
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease, height 0s 0.5s;
}

.content__extra-text--visible {
  position: absolute;
  bottom: 30px;
  opacity: 1;
  height: auto;
  transition: opacity 0.5s ease;
}

@media only screen and (max-width: 768px) {
  .content__extra-text {
    left: 0;
    right: 0;
    bottom: 0px;
  }

  .content__extra-text--visible {
    left: 0;
    right: 0;
    bottom: 0px;
  }
}
